@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import GTSuperDisplay, UntitledSans */
@font-face {
  font-family: "GT Super";
  src: url("/fonts/GTSuperDisplay-Light.woff2");
  font-weight: 300;
}

@font-face {
  font-family: "GT Super";
  src: url("/fonts/GTSuperDisplay-Regular.woff2");
  font-weight: 400;
}

@font-face {
  font-family: "GT Super";
  src: url("/fonts/GTSuperDisplay-Bold.woff2");
  font-weight: 700;
}

@font-face {
  font-family: "Untitled Sans";
  src: url("/fonts/UntitledSans-Light.woff2");
  font-weight: 300;
}

@font-face {
  font-family: "Untitled Sans";
  src: url("/fonts/UntitledSans-Light.woff2");
  font-weight: 300;
}

@font-face {
  font-family: "Untitled Sans";
  src: url("/fonts/UntitledSans-Regular.woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Untitled Sans";
  src: url("/fonts/UntitledSans-Bold.woff2");
  font-weight: 700;
}

:root {
  --serif: "GT Super", serif;
  --sans: ui-sans-serif, "Untitled Sans", sans-serif;
}

html,
body {
  height: 100%;
}

body {
  background-color: whitesmoke;
}

/* Jump from 0 to translateY(2px) */
@keyframes wiggle {
  0% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(-2px);
    -webkit-transform: translateY(-2px);
    -moz-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    -o-transform: translateY(-2px);
  }
  20% {
    transform: translateY(0);
  }
}
